# for loop

In [ ]:
for x in range(5):   #range(n)= 0 to n-1 
    print(x)

0
1
2
3
4

In [ ]:
for x in range(3, 6):   #range(a, n)= a to n-1 
    print(x)

3
4
5

In [ ]:
a='Piyush'
for x in a:   #range(a,n,gap)= a to n-a with gap
    print(x)
    # 3 to 7 but one value will be skip

P
i
y
u
s
h

# if elif else

In [ ]:
i=1

if i==2:    #false
    print('first')

elif 4==2:  #false
    print('second')

elif 3==1: #false
    print('middle')
    
else:
    print('last')

last

# While Loop

In [ ]:
i = 1
while i < 5:
    print(i)
    i = i+1

1
2
3
4

#break

In [ ]:
count = 0

while True:   #infinite
    print(count)    
    count += 1    
    if count >= 5:        
        break

print("MHM")

0
1
2
3
4
MHM

# Continue

In [ ]:
for x in range(10):
    if x % 2 != 0:
        continue
    print(x)

0
2
4
6
8

In [ ]:
for var in range(1,16):    #1 to 15
    if(var in range(9,14)):   #9 to 13
        continue
    else:
        print(var)    #1,2,3,4,5,6,7,8,14,15

1
2
3
4
5
6
7
8
14
15